/src/FalconSoft.SqlDataApi.Client.Tests/bin
/src/FalconSoft.SqlDataApi.Client.Tests/obj
/src/FalconSoft.SqlDataApi.Client/.vs
/src/FalconSoft.SqlDataApi.Client/bin
/src/FalconSoft.SqlDataApi.Client/obj
/src/FalconSoft.SqlDataApi.Client/FalconSoft.SqlDataApi.Client.csproj.user
/src/.vs
